/* Глобальные стили */
:root {
  --background-color: #FAF5E5;
  --text-color: #000;
  --font-family: "Roboto", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}


/* Основные стили */
body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 33.8px;
  letter-spacing: 0.78px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Центрирование контента */
#app {
  margin: 0px auto;
  text-align: center;
}

/* Для всех браузеров */
::-webkit-scrollbar {
  display: none; /* Скрывает скроллбар в Webkit-браузерах (Chrome, Safari, Edge) */
}

body {
  overflow: scroll; /* Включает прокрутку без отображения скроллбара */
}

